* {
    margin: 0;
    padding: 0;
}

/* css para el header */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}


a .logo {
    display: inline;
    object-fit: contain;
    width: 15vw;
    height: 15vh;
    margin-top: 6%;
    margin-bottom: 2%;  
    justify-content: center; 
}


.menu {
    display: inline;
    margin: 3.5%;
}

.menu__lista {
    display: inline;
    text-align: right;
    justify-content: center;
}

.menu__lista a{
    color: red;
    font-weight: bold;
    font-size: 110%;
    text-decoration: none;
}

.menu__lista li{
    display: inline;
    padding: 5px;
}

.menu__lista__l1:hover{
    display: inline-block;
    transform: scale(1.2);
}

/* css para la seccion con los integrantes de ACDC en la pagina de inicio */

.integrantes{
    display: grid;
    grid-template-areas:
        "titulo titulo titulo titulo titulo"
        "foto1 foto2 foto3 foto4 foto5"
        "nombre1 nombre2 nombre3 nombre4 nombre5"
        "bio1 bio2 bio3 bio4 bio5";
    grid-template-columns: repeat(5, 18%);
    grid-template-rows: 100px 1fr 20px 300px;
    justify-content: center;
    row-gap: 15px;
    column-gap: 20px;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.integrantes__titulo{
    display: flex;
    color: red;
    font-weight: bold;
    font-size: 200%;
    justify-content: center;
    align-items: center;
    grid-area: titulo;
}


.stevie{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto1;
    transition: all 0.8s ease-in-out;
}

.stevie-2{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto1;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.stevie:hover{   
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.angus{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto2;
    transition: all 0.8s ease-in-out;
}

.angus-2{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto2;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.8s;
}

.angus:hover{   
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.brian{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto3;
    transition: all 0.8s ease-in-out;
}

.brian-2{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto3;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.8s;
}

.brian:hover{   
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.cliff{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto4;
    transition: all 0.8s ease-in-out;
}

.cliff-2{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto4;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.8s;
}

.cliff:hover{   
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.phil{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto5;
    transition: all 0.8s ease-in-out;   
}

.phil-2{
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-top: 1%;
    margin-bottom: 2%;
    grid-area: foto5;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.8s;
}

.phil:hover{   
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.integrantes div{
    position: relative;
}

.integrantes__stevie{
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    grid-area: nombre1;
}

.integrantes__angus{
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    grid-area: nombre2;
}

.integrantes__brian{
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    grid-area: nombre3;
}

.integrantes__cliff{
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    grid-area: nombre4;
}

.integrantes__phil{
    font-weight: bold;
    text-align: center;
    font-size: 110%;
    grid-area: nombre5;
}

.integrantes__biostevie{
    text-align: center;
    grid-area: bio1;
}

.integrantes__bioangus{
    text-align: center;
    grid-area: bio2;
}

.integrantes__biobrian{
    text-align: center;
    grid-area: bio3;
}

.integrantes__biocliff{
    text-align: center;
    grid-area: bio4;
}

.integrantes__biophil{
    text-align: center;
    grid-area: bio5;
}

@media only screen and (max-width: 480px) {
    .integrantes{
        grid-template-columns: repeat(5, 18%);
        grid-template-rows: 80px 95px auto auto;
        row-gap: 5px;
        column-gap: 7px;
    }

    .integrantes__stevie{
        font-size: 90%;
    }

    .integrantes__angus{
        font-size: 90%;
    }

    .integrantes__brian{
        font-size: 90%;
    }

    .integrantes__cliff{
        font-size: 90%;
    }

    .integrantes__phil{
        font-size: 90%;
    }

    .integrantes__biostevie{
        font-size: 65%;
    }

    .integrantes__bioangus{
        font-size: 65%;
    }
    
    .integrantes__biobrian{
        font-size: 65%;
    }

    .integrantes__biocliff{
        font-size: 65%;
    }

    .integrantes__biophil{
        font-size: 65%;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
    .integrantes{
        grid-template-rows: 80px auto auto 300px;   
    }
}

/* separador */

.separador{
    height: 30px;
}

/* footer general */

.text-muted img{
    display: inline;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    width: 5vw;
    height: 5vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media only screen and (min-width: 481px) and (max-width: 960px) {
    .separador{
        height: 200px;
    }
}


/* css especifico para la pagina de videos */

.videos{
    display: grid;
    grid-template-areas: 
        "titulo video2"
        "video1 video3";
}

.videos h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
    grid-area: titulo;
}

.video1 {
    position: absolute;
    top: 80%;
    left: 5%;
    grid-area: video1;
}

.video2 {
    position: absolute;
    top: 30%;
    right: 5%;
    grid-area: video2;
}

.video3 {
    position: absolute;
    top: 80%;
    right: 5%;
    grid-area: video3;
}

@media only screen and (max-width: 480px) {
    
    .portada{
        display: none;
    }

    .videos{
        background-image: url(Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .videos h1{
        position: absolute;
        top: 30%;
        font-size: 30px;
    }

    .video1{
        width: 110px;
        height: 110px;
    }

    .video2{
        width: 110px;
        height: 110px;
    }

    .video3{
        width: 110px;
        height: 110px;
    }

    .discografia{
        background-image: url(Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .discografia h1{
        position: absolute;
        top: 30%;
        font-size: 25px;
    }

    .lista1{
        width: 110px;
        height: 110px;
    }

    .lista2{
        width: 110px;
        height: 110px;
    }

    .lista3{
        width: 110px;
        height: 110px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {

    .portada{
        display: none;
    }

    .videos{
        background-image: url(Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .videos h1{
        position: absolute;
        top: 30%;
        font-size: 40px;
    }

    .video1{
        width: 200px;
        height: 150px;
    }

    .video2{
        width: 200px;
        height: 150px;
    }

    .video3{
        width: 200px;
        height: 150px;
    }

    .discografia{
        background-image: url(Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .discografia h1{
        position: absolute;
        top: 30%;
        font-size: 30px;
    }

    .lista1{
        width: 200px;
        height: 150px;
    }

    .lista2{
        width: 200px;
        height: 150px;
    }

    .lista3{
        width: 200px;
        height: 150px;
    }
}

/* css especifico para la pagina de discografia */

.discografía{
    display: grid;
    grid-template-areas: 
        "titulo lista2"
        "lista1 lista3";
}

.discografia__h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
    grid-area: titulo;
}

.lista1{
    position: absolute;
    top: 80%;
    left: 5%;
    grid-area: lista1;
}

.lista2{
    position: absolute;
    top: 30%;
    right: 5%;
    grid-area: lista2;
}

.lista3{
    position: absolute;
    top: 80%;
    right: 5%;
    grid-area: lista3;
}

/* css para la pagina de contacto */

.contacto {
    display: flex;
    flex-wrap: wrap; 
}

.contacto h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
}

.contacto form {
    position: absolute;
    top: 50%;
}

.portada{
    overflow: scroll;
    width: 100%;
}

/* css pagina tour */

.container-bootstrap{
    background-image: url(Multimedia/Portada.jpg);
    height: 750px;
    overflow: hidden;
    width: 100%; 
}

.container-bootstrap p{
    font-size: 120%;
    color: white;
    font-weight: bold;
}


