@import '../base/variables';
@import '../base/mapa';

/* css para la pagina de contacto */

.contacto {
    display: flex;
    flex-wrap: wrap; 
}

.contacto h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 200px;
    left: 5%;
    font-size: 50px;
}


.portada{
    overflow: scroll;
    width: 100%;
}

.contact {
    padding: .8rem;
    overflow: hidden;
    color: white;
    background-color: black;
    position: absolute;
    top: 200px;
    right: 5%;
  }
  
  .contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;   
  }
  
  .contact label {
    font-weight: 700;
  }
  
  .contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
  }
  
  .contact textarea {
    min-height: 100px;
  }
  
  input[type='submit'] {
    padding: 10px;
    background: white;
    border: none;
    color: red;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  
  }

@media only screen and (max-width: 480px) {
    
    .portada{
        display: none;
    }

    .contacto{
        background-image: map-get($standard, bg-standard);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .contacto h1{
        display: inline;
        position: absolute;
        top: 150px;
        font-size: 30px;
        margin-left: 10%;
        margin-right: 10%;
    }

    .contact{
        position: absolute;
        top: 200px;
        margin-left: 10%;
        margin-right: 10%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 960px) {

    .portada{
        display: none;
    }

    .contacto{
        background-image: map-get($standard, bg-standard);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .contacto h1{
        position: absolute;
        top: 30%;
        font-size: 30px;
    }

}
  

