@import '../base/variables';

/* se utiliza este partial para agregar el resto del css de la página pero sin aplicar sass */

/* css especifico para la pagina de videos */

.videos{
    display: grid;
    grid-template-areas: 
        "titulo video2"
        "video1 video3";
}

.videos h1{
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
    grid-area: titulo;
}

.video1 {
    position: absolute;
    top: 80%;
    left: 5%;
    grid-area: video1;
}

.video2 {
    position: absolute;
    top: 30%;
    right: 5%;
    grid-area: video2;
}

.video3 {
    position: absolute;
    top: 80%;
    right: 5%;
    grid-area: video3;
}

@media only screen and (max-width: 480px) {
    
    .portada{
        display: none;
    }

    .videos{
        background-image: url(../Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .videos h1{
        position: absolute;
        top: 30%;
        font-size: 30px;
    }

    .video1{
        width: 110px;
        height: 110px;
    }

    .video2{
        width: 110px;
        height: 110px;
    }

    .video3{
        width: 110px;
        height: 110px;
    }

    .discografia{
        background-image: url(../Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .discografia h1{
        position: absolute;
        top: 30%;
        font-size: 25px;
    }

    .lista1{
        width: 110px;
        height: 110px;
    }

    .lista2{
        width: 110px;
        height: 110px;
    }

    .lista3{
        width: 110px;
        height: 110px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 960px) {

    .portada{
        display: none;
    }

    .videos{
        background-image: url(../Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .videos h1{
        position: absolute;
        top: 30%;
        font-size: 40px;
    }

    .video1{
        width: 200px;
        height: 150px;
    }

    .video2{
        width: 200px;
        height: 150px;
    }

    .video3{
        width: 200px;
        height: 150px;
    }

    .discografia{
        background-image: url(../Multimedia/Portada.jpg);
        height: 600px;
        overflow: hidden;
        width: 100%;
    }
    
    .discografia h1{
        position: absolute;
        top: 30%;
        font-size: 30px;
    }

    .lista1{
        width: 200px;
        height: 150px;
    }

    .lista2{
        width: 200px;
        height: 150px;
    }

    .lista3{
        width: 200px;
        height: 150px;
    }
}

/* css especifico para la pagina de discografia */

.discografía{
    display: grid;
    grid-template-areas: 
        "titulo lista2"
        "lista1 lista3";
}

.discografia__h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
    grid-area: titulo;
}

.lista1{
    position: absolute;
    top: 80%;
    left: 5%;
    grid-area: lista1;
}

.lista2{
    position: absolute;
    top: 30%;
    right: 5%;
    grid-area: lista2;
}

.lista3{
    position: absolute;
    top: 80%;
    right: 5%;
    grid-area: lista3;
}

/* css para la pagina de contacto */

.contacto {
    display: flex;
    flex-wrap: wrap; 
}

.contacto h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 5%;
    font-size: 50px;
}

.contacto form {
    position: absolute;
    top: 50%;
}

.portada{
    overflow: scroll;
    width: 100%;
}

/* css pagina tour */

.container-bootstrap{
    background-image: url(../Multimedia/Portada.jpg);
    height: 750px;
    overflow: hidden;
    width: 100%; 
}

.container-bootstrap p{
    font-size: 120%;
    color: white;
    font-weight: bold;
}
